
.navbar-tirps{ 
    position: fixed;  
    z-index: 1;  
    background-color:#f1fafa;
    margin-top: -5px;     
}

.navbar-tirps li a{  
    font-weight: bold;  
    color: rgb(0, 0, 0); 
} 

.navbar-tirps li a:hover{
    text-decoration: none;     
    color: rgb(29, 63, 173); 
    background: none;    
} 

.intervals label{
    color: rgb(23, 139, 168);
    font-size: medium;
    font-weight: bold;
    margin: 5px;
    display: block;
    /* float:left; */
}


.vertical-scroll-intervals {
    position: relative;
    height: 200px;
    overflow: auto;
    border-style: ridge
}  

.btable{
   font-size: small;   
}

.btable td{
    padding: 0.25rem;
    vertical-align: middle;
 }

.btable thead{     
    background-color: rgb(86, 90, 90); 
    color: #d7dfdf;  
    overflow: auto;   
 } 

.btable input[type="checkbox"] {
    position: relative;
    margin-left: 5px;
    opacity: 1;  
}



.limitsTable input[type="number"]{
    height: inherit;
  border-style: solid;
  border-color: rgb(204, 203, 203);
  border-radius: 5px;

  padding:0;
  margin: 0
}

.limitsTable .oneLine{
    /* display: inline-block; */
}

.limitsTable .childrenOneLine{
    display: flex;
}

.limits{
    margin-top: 35px;
}





/*  */


